.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;

  &__currency {
    display: flex;
    justify-content: space-between;

    &__val {
      background-color: #fff;
      border: 3px solid rgb(65, 125, 202);
      padding: 10px 10px;
      border-radius: 5px;
      color: rgb(65, 125, 202);
      margin: 0 10px;
      transition: 1s;

      &:hover {
        color: #fff;
        background-color: rgb(65, 125, 202);
      }

      &:focus {
        background-color: rgb(27, 65, 114);
        border-color: rgb(27, 65, 114);
        color: #fff;
      }

      &::after {
        background-color: rgb(27, 65, 114);
        border-color: rgb(27, 65, 114);
        color: #fff;
      }
    }
  }

  &__sum {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 1px 1px rgb(65, 125, 202);
    color: rgb(65, 125, 202);
    padding: 0 0 20px;
  }
}

.total__currency__val {
  cursor: pointer;
}

.total__sum__number {
  font-size: 40px;
  font-weight: 900;
  text-shadow: 1px 1px rgb(226, 105, 75);
  color: rgb(226, 105, 75);
}
.total__sum + .total__sum__number {
  display: flex;
}

.deleteAll {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 3px solid rgb(65, 125, 202);
  padding: 10px 10px;
  border-radius: 5px;
  color: rgb(65, 125, 202);
  margin: 0 10px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    color: #fff;
    background-color: rgb(65, 125, 202);
  }
}

.cart__res {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.delete {
  background-color: #fff;
  border: 3px solid rgb(65, 125, 202);
  padding: 10px 10px;
  border-radius: 5px;
  color: rgb(65, 125, 202);
  margin: 0 10px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    color: #fff;
    background-color: rgb(65, 125, 202);
  }
}

.minus {
  background-color: #fff;
  border: 3px solid rgb(65, 125, 202);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: rgb(65, 125, 202);
  margin: 0 10px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    color: #fff;
    background-color: rgb(65, 125, 202);
  }
}

.plus {
  background-color: #fff;
  border: 3px solid rgb(65, 125, 202);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: rgb(65, 125, 202);
  margin: 0 10px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    color: #fff;
    background-color: rgb(65, 125, 202);
  }
}

.title2 {
  flex-wrap: wrap;
}
