// Font
$SegoeUI-Font: 'Segoe UI';

// Size
$main-font: 18px;
$main-borderRadius: 5px;

// Main color
$text-color: #ffffff;
$background-colorBlue: #4c6da6;
$backgroundHover-colorBlue: #4c6da6;
$border-colorBlue: #3f5f95;
$redPinkMain-color: #f3585e;
$redPinkHoverMain-color: #97050c;
$mainLinearGradient: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);

// Neutral Color
$neutral-white: #ffffff;
$neutral-placeholderBorder: #dfdfdf;
$neutral-placeholderBackground: #f9f9f9;
$neutral-borderColor: #d7d7d7;